.main-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  padding: 4vw 3vw 0px;
  .main-content {
    grid-row: 2;
    display: flex;
    max-height: 80vh;
    max-width: inherit;
  }
}

@media screen and (max-width: 1024px) {
  .main-page {
    height: inherit;
    justify-content: flex-start;
    gap: 100px;
    .main-content{
      max-height: 80vh;
    }
    .art-prev,
    .contact-info {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s;
      &.selected {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
