.main-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // display: grid;
  // grid-template-rows: repeat(2, auto);
 height:inherit;
  // overflow: hidden;
  padding: 4vw 3vw 0px;
  .main-content {
    grid-row: 2;
    display: flex;
    max-height: 80vh;
    overflow: hidden;
    max-width: inherit;
  }
}
