.art-prev {
  width: 50vw;
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-right: 150px;
  gap: 65px;

  img {
    width: 100%;
  }

  .art-list-box {
    position: relative;
    max-height: 90vh;
    display: flex;
    padding-left: 73px;
    .art-prev-title {
      position: absolute;
      transform-origin: top left;
      left: -10px;
      top: 0;
      transform: rotate(-90deg) translateX(-100%);
      font-size: rem(55px);

      &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        transform: translate(-50%, -50%);
        top: 50%;
        left: -33px;
        border-top: 17px solid transparent;
        border-bottom: 17px solid transparent;
        border-right: 17px solid $mainFontColor;
      }
    }
  }
}
