.art-list{
    width: 450px;
    height: inherit;
    overflow-y:scroll;
    &::-webkit-scrollbar {
        display: none;
      }
      

    img{
        width: 100%;
        filter: grayscale(100%);
        &:hover{
            cursor: pointer;
            filter: none;
            transition: all, 0.5s;
        }
    }
}