.contact-info {
  position: relative;
  max-width: 640px;
  hr {
    position: absolute;
    border-top: 3px solid $mainFontColor;
    margin-bottom: 30px;
    width: 100%;
    top: -35px;
  }
  .info-box {
    p {
      margin-bottom: 20px;
    }
    margin-left: 45px;
    font-family: bellota;
    font-size: rem(20px);
    .contact-info-list {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      div:first-child {
        display: flex;
        align-items: flex-end;
        img:first-child {
          margin-right: rem(20px);
          height: 107px;
          width: 107px;
          justify-self: flex-start;
        }
      }
      p {
        margin-bottom: 0px;
        span {
          font-weight: bold;
        }
      }
    }
    .contact-icons {
      display: flex;
      gap: 20px;
      a {
        &:not(:first-child) {
          display: none;
        }
        img {
          width: 60px;
          object-fit: contain;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  h1 {
    font-size: rem(35px);
    position: absolute;
    transform-origin: top left;
    width: fit-content;
    white-space: nowrap;
    max-width: 80vw;
    left: -15px;
    top: 0;
    transform: rotate(-90deg) translateX(-100%);
  }
}

@media screen and (max-width: 1030px) {
  .contact-info {
    height: fit-content;
    max-width: fit-content;
    p {
      font-size: clamp(rem(18px), 2vh, rem(24px));
    }
    .contact-info-box {
      height: fit-content;
      max-height: none;
      .info-box {
        display: flex;
        flex-direction: column-reverse;
        margin: 0px;
        .contact-info-list {
          justify-content: center;
          div:first-child {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            img {
              width: 90px;
              height: 90px;
              margin-bottom: 10px;
            }
            p {
              text-align: center;
            }
          }
          .contact-icons {
            position: absolute;
            bottom: -50px;
            a {
              &:last-child {
                display: block;
              }
            }
            img {
              height: 55px;
            }
          }
        }
      }
    }
    h1,
    hr {
      display: none;
    }
  }
}
