.main-header {
  // min-height: 15vh;
  height: 14vh;
  // padding-bottom:;
  .main-logo {
    font-size: 8vh;
    line-height: 5vh;
  }
  .main-nav {
    font-size: 3.3vh;
    a {
      margin-left: rem(4px);
      font-family: bellota-light;
      color: $mainFontColor;
      text-decoration: none;
    }
  }
}
