* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: $mainFontColor;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-height: 100vh;
  max-width: 100vw;
  margin: 0px;
  background-color: $mainBcg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-weight: normal;
  font-family: belleza;
}

html,
body,
#app {
  height: 100%;
}

.icon-base {
  margin: 0px;
}
.no-move {
  transition: transform 0s;
}

textarea {
  resize: none;
}

*element {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

*::-webkit-scrollbar {
  display: none;
}
