@font-face {
  font-family: inter;
  src: url(../../assets/fonts/Inter/static/Inter-Regular.ttf);
}
@font-face {
  font-family: belleza;
  src: url(./assets/fonts/belleza/Belleza-Regular.ttf);
}
@font-face {
  font-family: gudea;
  src: url(./assets/fonts/Gudea/Gudea-Regular.ttf);
}
@font-face {
  font-family: noto_sans;
  src: url(./assets/fonts/Noto_Sans_Hebrew/NotoSansHebrew-VariableFont_wdth\,wght.ttf);
}
@font-face {
  font-family: bellota;
  src: url(./assets/fonts/Bellota_Text/BellotaText-Regular.ttf);
}
@font-face {
  font-family: bellota-light;
  src: url(./assets/fonts/Bellota_Text/BellotaText-Light.ttf);
}