@font-face {
  font-family: inter;
  src: url(../../assets/fonts/Inter/static/Inter-Regular.ttf);
}
@font-face {
  font-family: belleza;
  src: url(./src/assets/fonts/belleza/Belleza-Regular.ttf);
}
@font-face {
  font-family: gudea;
  src: url(./src/assets/fonts/Gudea/Gudea-Regular.ttf);
}
@font-face {
  font-family: noto_sans;
  src: url(./src/assets/fonts/Noto_Sans_Hebrew/NotoSansHebrew-VariableFont_wdth\,wght.ttf);
}